# Исключаем файлы Python bytecode (.pyc, .pyo)
*.pyc
*.pyo

# Исключаем виртуальные окружения Python, если они необходимы
venv/
env/
.venv/

# Исключаем локальные конфигурационные файлы
.env

# Исключаем временные файлы и директории
.tmp
temp/
tmp/

# Исключаем логи и файлы, связанные с отладкой
logs/
*.log
debug.log

# Исключаем файлы и директории, которые не относятся к приложению
.idea/
.vscode/
__pycache__/
node_modules/
bower_components/
develop_files/
